# Group By

In [2]:
import pandas as pd

In [4]:
df_weather = pd.DataFrame(
    {
        "city":["Mumbai","Pune","Delhi","Nashik",
                "Mumbai","Pune","Delhi","Nashik",
                "Mumbai","Pune","Delhi","Nashik",
               "Mumbai","Pune"],
        "windspeed":[2.5,3.0,5.5,2.8,
                     3.8,1.5,1.9,1.6,
                    4.4,2,3.9,3.2,
                    1.66,3.85],
        "temperature":[24,29,15,26,
                      25,32,12,24,
                       22,28,22,29,
                      28,35],
        "event": ["Sunny","Cloudy","Sunny","Rainy",
                "Winter","Winter", "Sunny","Sunny",
                 "Winter","Snow","Cloudy","Sunny",
                 "Cloudy","Cold"]
        
    }
)
df_weather

      city  windspeed  temperature   event
0   Mumbai       2.50           24   Sunny
1     Pune       3.00           29  Cloudy
2    Delhi       5.50           15   Sunny
3   Nashik       2.80           26   Rainy
4   Mumbai       3.80           25  Winter
5     Pune       1.50           32  Winter
6    Delhi       1.90           12   Sunny
7   Nashik       1.60           24   Sunny
8   Mumbai       4.40           22  Winter
9     Pune       2.00           28    Snow
10   Delhi       3.90           22  Cloudy
11  Nashik       3.20           29   Sunny
12  Mumbai       1.66           28  Cloudy
13    Pune       3.85           35    Cold

In [5]:
df_weather[df_weather.city == "Mumbai"]

      city  windspeed  temperature   event
0   Mumbai       2.50           24   Sunny
4   Mumbai       3.80           25  Winter
8   Mumbai       4.40           22  Winter
12  Mumbai       1.66           28  Cloudy

In [6]:
df_weather[df_weather.city == "Mumbai"].temperature.max()

np.int64(28)

In [7]:
group_data = df_weather.groupby("city")

In [8]:
group_data

In [9]:
group_data.get_group("Mumbai")

      city  windspeed  temperature   event
0   Mumbai       2.50           24   Sunny
4   Mumbai       3.80           25  Winter
8   Mumbai       4.40           22  Winter
12  Mumbai       1.66           28  Cloudy

In [11]:
group_data.get_group("Delhi")

     city  windspeed  temperature   event
2   Delhi        5.5           15   Sunny
6   Delhi        1.9           12   Sunny
10  Delhi        3.9           22  Cloudy

In [12]:
for city,data in group_data:
    print(F"City = {city}")
    print(data)

City = Delhi
     city  windspeed  temperature   event
2   Delhi        5.5           15   Sunny
6   Delhi        1.9           12   Sunny
10  Delhi        3.9           22  Cloudy
City = Mumbai
      city  windspeed  temperature   event
0   Mumbai       2.50           24   Sunny
4   Mumbai       3.80           25  Winter
8   Mumbai       4.40           22  Winter
12  Mumbai       1.66           28  Cloudy
City = Nashik
      city  windspeed  temperature  event
3   Nashik        2.8           26  Rainy
7   Nashik        1.6           24  Sunny
11  Nashik        3.2           29  Sunny
City = Pune
    city  windspeed  temperature   event
1   Pune       3.00           29  Cloudy
5   Pune       1.50           32  Winter
9   Pune       2.00           28    Snow
13  Pune       3.85           35    Cold

# Find min max and avg temperature of each city

In [14]:
for city,data in group_data:
    print(F"City = {city}")
    print(f"Min Temperature = {data.temperature.min()}")
    print(f"Max Temperature = {data.temperature.max()}")
    print(f"Average Temperature = {data.temperature.mean().round(2)}")

City = Delhi
Min Temperature = 12
Max Temperature = 22
Average Temperature = 16.33
City = Mumbai
Min Temperature = 22
Max Temperature = 28
Average Temperature = 24.75
City = Nashik
Min Temperature = 24
Max Temperature = 29
Average Temperature = 26.33
City = Pune
Min Temperature = 28
Max Temperature = 35
Average Temperature = 31.0

In [15]:
group_data.size()

city
Delhi     3
Mumbai    4
Nashik    3
Pune      4
dtype: int64