In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [3]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [4]:
df.shape

(40, 10)

In [6]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [7]:
df["studio"].unique()

array(['UTV Motion Pictures', 'Warner Bros. Pictures',
       'Government of West Bengal', 'Marvel Studios', 'MGM Studios',
       'Castle Rock Entertainment', 'Columbia Pictures',
       'Universal Pictures  ', 'Paramount Pictures', 'Liberty Films',
       '20th Century Fox', 'Syncopy', 'Universal Pictures', nan,
       'Yash Raj Films', 'Vinod Chopra Films', 'Dharma Productions',
       'Vinod Chopra Productions', 'Zee Studios', 'Salman Khan Films',
       'Hombale Films', 'Mythri Movie Makers', 'DVV Entertainment',
       'Arka Media Works'], dtype=object)

In [8]:
len(df["studio"].unique())

24

In [11]:
df["studio"].value_counts()

studio
Marvel Studios               8
Vinod Chopra Films           3
Warner Bros. Pictures        2
Dharma Productions           2
Universal Pictures           2
Paramount Pictures           2
Salman Khan Films            2
Columbia Pictures            1
Castle Rock Entertainment    1
MGM Studios                  1
Government of West Bengal    1
UTV Motion Pictures          1
Liberty Films                1
20th Century Fox             1
Universal Pictures           1
Yash Raj Films               1
Syncopy                      1
Vinod Chopra Productions     1
Zee Studios                  1
Hombale Films                1
Mythri Movie Makers          1
DVV Entertainment            1
Arka Media Works             1
Name: count, dtype: int64

In [12]:
df.industry.value_counts()

industry
Hollywood    22
Bollywood    18
Name: count, dtype: int64

In [13]:
df.language.value_counts()

language
English    22
Hindi      13
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [14]:
df.currency.unique()

array(['INR', 'USD'], dtype=object)

In [15]:
df.currency.value_counts()

currency
USD    22
INR    18
Name: count, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         40 non-null     object
 1   industry      40 non-null     object
 2   release_year  40 non-null     int64
 3   imdb_rating   39 non-null     float64
 4   studio        37 non-null     object
 5   budget        40 non-null     float64
 6   revenue       40 non-null     float64
 7   unit          40 non-null     object
 8   currency      40 non-null     object
 9   language      40 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.3+ KB

In [17]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     40.000000    39.000000     40.000000      40.000000
mean    2006.850000     7.912821   1951.012000    4007.407500
std       17.455511     1.161483  11038.031363   15764.441034
min     1946.000000     1.900000      1.000000       3.100000
25%     2000.750000     7.800000     13.425000     216.900000
50%     2014.000000     8.100000    165.000000     685.900000
75%     2018.000000     8.400000    285.000000    2012.000000
max     2022.000000     9.300000  70000.000000  100000.000000