In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("movies.csv")
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [3]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [4]:
df.shape

(40, 10)

In [5]:
df.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [6]:
df["studio"].unique()

array(['UTV Motion Pictures', 'Warner Bros. Pictures',
       'Government of West Bengal', 'Marvel Studios', 'MGM Studios',
       'Castle Rock Entertainment', 'Columbia Pictures',
       'Universal Pictures  ', 'Paramount Pictures', 'Liberty Films',
       '20th Century Fox', 'Syncopy', 'Universal Pictures', nan,
       'Yash Raj Films', 'Vinod Chopra Films', 'Dharma Productions',
       'Vinod Chopra Productions', 'Zee Studios', 'Salman Khan Films',
       'Hombale Films', 'Mythri Movie Makers', 'DVV Entertainment',
       'Arka Media Works'], dtype=object)

In [7]:
len(df["studio"].unique())

24

In [8]:
df["studio"].value_counts()

studio
Marvel Studios               8
Vinod Chopra Films           3
Warner Bros. Pictures        2
Dharma Productions           2
Universal Pictures           2
Paramount Pictures           2
Salman Khan Films            2
Columbia Pictures            1
Castle Rock Entertainment    1
MGM Studios                  1
Government of West Bengal    1
UTV Motion Pictures          1
Liberty Films                1
20th Century Fox             1
Universal Pictures           1
Yash Raj Films               1
Syncopy                      1
Vinod Chopra Productions     1
Zee Studios                  1
Hombale Films                1
Mythri Movie Makers          1
DVV Entertainment            1
Arka Media Works             1
Name: count, dtype: int64

In [9]:
df.industry.value_counts()

industry
Hollywood    22
Bollywood    18
Name: count, dtype: int64

In [10]:
df.language.value_counts()

language
English    22
Hindi      13
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [11]:
df.currency.unique()

array(['INR', 'USD'], dtype=object)

In [12]:
df.currency.value_counts()

currency
USD    22
INR    18
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         40 non-null     object
 1   industry      40 non-null     object
 2   release_year  40 non-null     int64
 3   imdb_rating   39 non-null     float64
 4   studio        37 non-null     object
 5   budget        40 non-null     float64
 6   revenue       40 non-null     float64
 7   unit          40 non-null     object
 8   currency      40 non-null     object
 9   language      40 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.3+ KB

In [14]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     40.000000    39.000000     40.000000      40.000000
mean    2006.850000     7.912821   1951.012000    4007.407500
std       17.455511     1.161483  11038.031363   15764.441034
min     1946.000000     1.900000      1.000000       3.100000
25%     2000.750000     7.800000     13.425000     216.900000
50%     2014.000000     8.100000    165.000000     685.900000
75%     2018.000000     8.400000    285.000000    2012.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [15]:
df.tail()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [16]:
df[["industry","studio","title"]].head()

,industry,studio,title
0,Bollywood,UTV Motion Pictures,PK
1,Hollywood,Warner Bros. Pictures,Conjuring 2
2,Bollywood,Government of West Bengal,Pather Panchali
3,Hollywood,Marvel Studios,Doctor Strange in the Multiverse of Madness
4,Hollywood,Marvel Studios,Thor: The Dark World

In [17]:
# find all marvel movies
df[df.studio == "Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [18]:
# Find movies between release year 2000 to 2010
df[((df.release_year >= 2000) & (df.release_year <= 2010) | (df.studio == "Marvel Studios"))]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
10,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
11,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
14,Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English
16,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English
25,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
26,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
28,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
29,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi

In [19]:
# Add new Column

In [20]:
# functions
def addition(a, b):
    return a+b

In [21]:
addition(5,15)

20

In [22]:
myFn = lambda a,b: a+b

In [23]:
myFn(15,25)

40

In [24]:
msg = lambda: "Hello"
msg()

'Hello'

In [25]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [26]:
df.release_year.head()

0    2014
1    2016
2    1955
3    2022
4    2013
Name: release_year, dtype: int64

In [27]:
df["age"] = df.release_year.apply(lambda release_year_value: datetime.now().year - release_year_value)
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12

In [28]:
df[(df.age >= 5) & (df.age <= 10)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8
19,Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English,6
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English,6
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English,7
27,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi,10
31,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi,7
33,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi,10
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi,7
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu,10

In [29]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12

In [30]:
df["profit"] = df.revenue - df.budget
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11,6713.0
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9,281.0
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8

In [31]:
df["age1"] = datetime.now().year - df["release_year"]
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11,6713.0,11
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9,281.0,9
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0,70
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8,3
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8,12

In [32]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [34]:
df.iloc[0]

title                            PK
industry                  Bollywood
release_year                   2014
imdb_rating                     8.1
studio          UTV Motion Pictures
budget                        850.0
revenue                      7563.0
unit                       Millions
currency                        INR
language                      Hindi
age                              11
profit                       6713.0
age1                             11
Name: 0, dtype: object

In [35]:
df.iloc[5]

title           Thor: Ragnarok
industry              Hollywood
release_year               2017
imdb_rating                 7.9
studio           Marvel Studios
budget                    180.0
revenue                   854.0
unit                   Millions
currency                    USD
language                English
age                           8
profit                    674.0
age1                          8
Name: 5, dtype: object

In [36]:
df.iloc[5:10]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0,8
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0,3
7,Terminator,Hollywood,1984,8.1,MGM Studios,6.4,78.3,Millions,USD,English,41,71.9,41
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English,31,48.3,31
9,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English,11,536.8,11

In [41]:
df.set_index("title",inplace=True)

In [42]:
df.head()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
title,,,,,,,,,,,,
PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11,6713.0,11
Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9,281.0,9
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0,70
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8,3
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8,12

In [39]:
df.iloc[0]

title                            PK
industry                  Bollywood
release_year                   2014
imdb_rating                     8.1
studio          UTV Motion Pictures
budget                        850.0
revenue                      7563.0
unit                       Millions
currency                        INR
language                      Hindi
age                              11
profit                       6713.0
age1                             11
Name: 0, dtype: object

In [43]:
df.head()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
title,,,,,,,,,,,,
PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi,11,6713.0,11
Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9,281.0,9
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0,70
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8,3
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8,12

In [44]:
df.loc["Conjuring 2"]

industry                    Hollywood
release_year                     2016
imdb_rating                       7.3
studio          Warner Bros. Pictures
budget                           40.0
revenue                         321.0
unit                         Millions
currency                          USD
language                      English
age                                 9
profit                          281.0
age1                                9
Name: Conjuring 2, dtype: object

In [45]:
df.loc[["Conjuring 2","Gladiator","Avatar"]]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
title,,,,,,,,,,,,
Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English,9,281.0,9
Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English,25,357.5,25
Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English,16,2610.0,16

In [46]:
df.reset_index(inplace=True)

In [47]:
df

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit,age1
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.00,7563.0,Millions,INR,Hindi,11,6713.00,11
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.00,321.0,Millions,USD,English,9,281.00,9
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Bengali,70,30000.00,70
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English,3,754.80,3
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English,12,479.80,12
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English,8,674.00,8
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English,3,420.00,3
7,Terminator,Hollywood,1984,8.1,MGM Studios,6.40,78.3,Millions,USD,English,41,71.90,41
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English,31,48.30,31
9,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English,11,536.80,11
10,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English,19,252.10,19
11,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English,25,357.50,25
12,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English,28,2002.00,28
13,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English,79,0.12,79
14,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English,16,2610.00,16
15,The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English,53,283.80,53
16,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English,17,821.00,17
17,Schindler's List,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English,32,300.20,32
18,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English,32,983.00,32
19,Parasite,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English,6,247.60,6
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English,6,2398.00,6
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English,7,1648.00,7
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English,14,153.90,14
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English,11,537.40,11
24,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,400.00,2000.0,Millions,INR,Hindi,30,1600.00,30
25,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.00,4000.0,Millions,INR,Hindi,16,3450.00,16
26,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.00,1360.0,Millions,INR,Hindi,24,970.00,24
27,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.40,3.5,Billions,INR,Hindi,10,2.10,10
28,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.00,1350.0,Millions,INR,Hindi,18,1230.00,18
29,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.00,410.0,Millions,INR,Hindi,22,310.00,22
30,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.00,8540.0,Millions,INR,Hindi,11,7690.00,11
31,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.00,5.9,Billions,INR,Hindi,7,4.90,7
32,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.00,3409.0,Millions,INR,Hindi,3,3159.00,3
33,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.00,11690.0,Millions,INR,Hindi,10,10790.00,10
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.80,3.1,Billions,INR,Hindi,7,1.30,7
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.00,950.0,Millions,INR,Hindi,4,450.00,4
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.00,12.5,Billions,INR,Kannada,3,11.50,3
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.00,3.6,Billions,INR,Telugu,4,1.60,4
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.50,12.0,Billions,INR,Telugu,3,6.50,3
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.80,6.5,Billions,INR,Telugu,10,4.70,10

In [50]:
# How to create Data Frame without csv
df_students = pd.DataFrame({
    "sr no":[1,2,3],
    "name":["Abdul Gani","Shubham","Pranjal"],
    "age":[30,20,25]
})

In [51]:
df_students

   sr no        name  age
0      1  Abdul Gani   30
1      2     Shubham   20
2      3     Pranjal   25

In [52]:
df_students.name

0    Abdul Gani
1       Shubham
2       Pranjal
Name: name, dtype: object

In [54]:
df_students["sr no"]

0    1
1    2
2    3
Name: sr no, dtype: int64

In [56]:
df_students.set_index("sr no", inplace= True)
df_students

             name  age
sr no
1      Abdul Gani   30
2         Shubham   20
3         Pranjal   25